.resizeImageWrapper {
  outline: 3px solid #b4d7ff;
  position: relative;
}

.resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #4099ff;
  right: -5px;
  bottom: -5px;
  cursor: se-resize;
}

.resizer.topRight {
  right: -5px;
  top: -5px;
  cursor: ne-resize;
}

.resizer.bottomLeft {
  bottom: -5px;
  left: -5px;
  cursor: ne-resize;
}

.resizer.topLeft {
  top: -5px;
  left: -5px;
  cursor: se-resize;
}
