:root {
  --editor-background-color: #fff;
  --editor-border-color: #c4c4c4;
  --editor-text-color: #414141;
  --editor-toolbar-button-background: #fff;
  --editor-toolbar-text-color: #414141;
  --editor-toolbar-button-hover-background: #efefef;
  --editor-toolbar-button-selected-background: #dee0e2;
  --editor-svg-color: #414141;
  --editor-save-button-background: rgb(9, 134, 62);
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.react-editor-main img {
  max-width: 60%;
  height: auto;
}

.react-editor-main .select-option p,
.react-editor-main .select-option pre,
.react-editor-main .select-option h2,
.react-editor-main .select-option h3,
.react-editor-main .select-option h4,
.react-editor-main .select-option h5,
.react-editor-main .select-option h6,
.react-editor-main .select-option blockquote,
.react-editor-main .select-option h1 {
  margin: 0;
  color: var(--editor-toolbar-text-color) !important;
}

.react-editor-main {
  background-color: var(--editor-background-color);
  border: 1px solid var(--editor-border-color);
  color: var(--editor-text-color);
  line-height: 16px !important;
  font-family: system-ui !important;
}

.react-editor-main .wysiwyg-editor__toolbar {
  border-bottom: 1px solid var(--editor-border-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5px;
  position: relative;
}

.react-editor-main .wysiwyg-editor__toolbar .hr-1 {
  position: absolute;
  width: 98%;
  border-color: var(--editor-border-color);
  border: none;
  border-top: 1px solid var(--editor-border-color);
  height: 1px;
  display: none;
  top: 32px;
  margin: 0;
}

.react-editor-main .wysiwyg-editor__toolbar .hr-2 {
  top: 64px;
}

.react-editor-main .wysiwyg-editor__toolbar .button-group {
  display: inline-block;
  border-right: 1px solid var(--editor-border-color);
}
.react-editor-main .wysiwyg-editor__toolbar button {
  background: var(--editor-toolbar-button-background);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  color: var(--editor-toolbar-text-color);
  line-height: 16px;
}
.wysiwyg-editor__toolbar button:disabled,
.wysiwyg-editor__toolbar button.disabled {
  cursor: not-allowed;
}
.wysiwyg-editor__toolbar button:disabled svg,
.wysiwyg-editor__toolbar button.disabled svg {
  fill: #9fa2a6;
}

.wysiwyg-editor__toolbar button:hover {
  background-color: var(--editor-toolbar-button-hover-background);
}

.wysiwyg-editor__toolbar input {
  background-color: transparent;
  border: 1px solid var(--editor-border-color);
  outline: none;
  cursor: pointer;
}

.wysiwyg-editor__toolbar select,
.wysiwyg-editor__toolbar select:focus-visible {
  border: none !important;
  outline: none;
}

.ml-main-content-box {
  padding: 10px;
  height: 250px;
  overflow: auto;
  resize: vertical;
  max-width: 100% !important;
  line-height: normal;
}

.react-editor-main .placeholder-text {
  opacity: 0.8;
  font-style: italic;
}

.ml-main-content-box h1,
.ml-main-content-box h2,
.ml-main-content-box h3,
.ml-main-content-box h4,
.ml-main-content-box h5,
.ml-main-content-box h6,
.ml-main-content-box p {
  margin-top: 0;
}

.ml-main-content-box:focus-visible {
  outline: none;
}

.wysiwyg-editor__source {
  width: 98%;
  height: 80%;
  outline: none;
  padding: 10px;
  font-family: "Courier New", Monospace !important;
  font-size: small;
  white-space: pre-wrap;
  margin: 0;
  display: block;
  font-size: 16px;
}

/* Modal.css */

#modal-root .modal-overlay {
  font-family: system-ui !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.image-model-overly {
  z-index: 9999;
}

.fill-screen-view {
  z-index: 9997;
}

#modal-root .model-title {
  display: flex;
  justify-content: space-between;
}

#modal-root .model-title h2 {
  margin: 0;
}

#modal-root .model-title svg {
  font-size: 25px;
  cursor: pointer;
}

#modal-root .modal-popup {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 85%;
  color: #000;
  border-radius: 5px;
}

.fill-screen-view .modal-popup {
  max-width: 100% !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1;
  padding: 0 !important;
  overflow: hidden;
  border-radius: 0 !important;
}

#modal-root .modal-popup hr {
  margin-bottom: 0;
}

#modal-root .modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
}

.wysiwyg-editor__toolbar button svg {
  fill: var(--editor-svg-color);
  color: var(--editor-svg-color);
  display: inline-block;
  height: 15px;
  width: 14px;
}

.react-editor-main .custom-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  padding: 6px;
  color: var(--editor-toolbar-text-color);
  line-height: 16px;
}

.react-editor-main .custom-select-format {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  padding: 6px;
}

.react-editor-main .main-color-component svg {
  height: 13px !important;
}

.editor-modal-open {
  overflow: hidden;
}

.react-editor-main .select-items {
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--editor-border-color);
  border-radius: 2px;
  z-index: 2;
  width: 160px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 29px;
  left: 0;
  display: none;
}

.react-editor-main .select-items button {
  display: flex !important;
  width: 100%;
  padding: 7px;
  font-family: system-ui !important;
}

.react-editor-main .p-items .select-items {
  left: 142px;
}

.react-editor-main .select-items-format {
  position: absolute;
  background-color: var(--editor-background-color);
  border: 1px solid var(--editor-border-color);
  border-top: none;
  border-radius: 2px;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: 0;
  top: 30px;
}

.react-editor-main .select-items-format .select-option:hover {
  background-color: var(--editor-toolbar-button-hover-background) !important;
}

.react-editor-main .select-items-format h1 {
  font-size: 32px !important;
  font-weight: 600;
  line-height: 32px;
}
.react-editor-main .select-items-format h2 {
  font-size: 28px !important;
  font-weight: 600;
  line-height: 28px;
}
.react-editor-main .select-items-format h3 {
  font-size: 24px !important;
  font-weight: 600;
  line-height: 24px;
}
.react-editor-main .select-items-format h4 {
  font-size: 20px !important;
  line-height: 20px;
}
.react-editor-main .select-items-format h5 {
  font-size: 16px !important;
}
.react-editor-main .select-items-format h6 {
  font-size: 14px;
}

.react-editor-main .select-items.show {
  display: block;
}

.react-editor-main .select-items .select-option,
.react-editor-main .select-items-format .select-option {
  padding: 6px 10px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
}

.react-editor-main .select-items .select-insert svg {
  height: 20px;
  width: 20px;
  margin-right: 7px;
  color: var(--editor-svg-color);
  fill: var(--editor-svg-color);
}

.react-editor-main .select-items button svg {
  height: 16px !important;
  width: 16px !important;
  margin-top: 2px;
}

.react-editor-main .select-items .select-insert span {
  margin-top: 2px;
}

.react-editor-main .selected-option {
  background-color: var(--editor-toolbar-button-selected-background) !important;
}

.react-editor-main .select-items .select-option:hover,
.react-editor-main .select-insert:hover {
  background-color: var(--editor-toolbar-button-hover-background) !important;
}

#modal-root .form-control-input {
  font-family: system-ui !important;
  width: 100%;
  padding: 7px;
  border: 1px solid var(--editor-border-color);
  border-radius: 3px;
}

#modal-root .form-control-input:focus-visible {
  outline: none;
}

#modal-root .save-button {
  background-color: var(--editor-save-button-background);
  color: #fff;
  padding: 7px 14px;
  border: none;
  margin-top: 10px;
  border-radius: 3px;
  cursor: pointer;
}

#modal-root .select-type button {
  padding: 6px 20px;
  background-color: #fff;
  border: 1px solid var(--editor-border-color);
  cursor: pointer;
}

#modal-root .select-type button.selected-type {
  background-color: #efefef;
}

#modal-root .special-char-box {
  display: flex;
  flex-wrap: wrap;
}

#modal-root .special-char {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
}

#modal-root .special-char:hover {
  background-color: #dee0e2;
}

.react-editor-main .select-insert {
  min-width: 120px;
  font-size: 16px;
  text-align: left;
  padding: 8px 10px;
  white-space: nowrap;
  display: flex;
  border-top: 1px solid var(--editor-border-color) !important;
  color: var(--editor-text-color) !important;
  background-color: var(--editor-background-color);
  border-radius: 0 !important;
  margin: 0 !important;
}

/* width */
.react-editor-main ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.react-editor-main ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.react-editor-main ::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
.react-editor-main ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#modal-root .full-screen-model {
  width: 95% !important;
  height: 85vh;
}

.ml-main-content-box blockquote {
  border-left: 2px solid var(--editor-border-color);
  border-left-width: 5px;
  margin-left: 1.5rem;
  padding: 2px 0;
  padding-left: 1rem;
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: var(--editor-text-color);
}

.select-items-nested.left {
  left: -100%;
}

.react-editor-main .select-formation-dropdown {
  position: absolute;
  background-color: var(--editor-background-color);
  border: 1px solid var(--editor-border-color);
  border-radius: 4px;
  left: 154px;
  display: none;
  min-width: 140px;
  z-index: 2;
  max-height: 200px;
  overflow-x: hidden;
}

.react-editor-main .font-size-dropdown {
  min-width: 90px;
}

.react-editor-main .font-size-dropdown .select-option {
  padding: 10px;
  border-bottom: 1px solid var(--editor-border-color);
  font-size: 16px;
  width: 98%;
  margin: 0;
  border-radius: 0 !important;
  font-family: system-ui !important;
}

.react-editor-main .select-formation-dropdown.show {
  display: block;
}

.react-editor-main .font-family-option {
  display: block;
  width: 99%;
  padding: 9px !important;
  border-top: 1px solid var(--editor-border-color) !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.react-editor-main .font-family-option:hover {
  background-color: var(--editor-toolbar-button-hover-background);
}

.react-editor-main .bottom-colored-line {
  height: 3px;
  width: 14px;
  background-color: var(--editor-svg-color);
}

.react-editor-main .main-color-component {
  position: relative;
  display: inline-block;
}

.react-editor-main .open-color-box {
  position: absolute;
  height: 140px;
  width: 140px;
  background-color: var(--editor-background-color);
  border: 1px solid var(--editor-border-color);
  top: 30px;
  left: -1px;
  display: none;
  z-index: 1;
}

.react-editor-main .color-box-grid button {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

.react-editor-main .open-color-box.show {
  display: block;
}

.react-editor-main .color-box {
  height: 28px;
  width: 28px;
  cursor: pointer;
  background-color: var(--editor-background-color);
}

.react-editor-main .custom-color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-editor-main .custom-color-picker svg {
  height: 20px;
}

.react-editor-main .increase-icon-size svg {
  height: 20px !important;
  width: 17px !important;
  margin-top: 3px;
}

.react-editor-main .increase-icon-size button {
  padding: 3px 10px;
}

.react-editor-main .color-box:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.react-editor-main .vertical-line {
  height: 32px;
  width: 1px;
  background-color: var(--editor-border-color);
}

.react-editor-main .react-editor-mt-2 {
  margin-top: 2px;
}
#modal-root .react-editor-mt-10 {
  margin-top: 10px;
}
.react-editor-main .react-editor-me-5 {
  margin-right: 5px;
}

#modal-root .react-editor-text-end {
  text-align: right;
}

.react-editor-main .react-editor-text-left {
  text-align: left;
}

.react-editor-main .react-editor-d-flex,
#modal-root .react-editor-d-flex {
  display: flex;
}

.react-editor-main .react-editor-w-47,
#modal-root .react-editor-w-47 {
  width: 47%;
}

.react-editor-main .justify-content-between,
#modal-root .justify-content-between {
  justify-content: space-between;
}

.react-editor-main .react-editor-flex-column,
#modal-root .react-editor-flex-column {
  flex-direction: column;
}

.editor-error-messsage {
  color: red;
}

.ml-main-content-box:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
  pointer-events: none;
}
